<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand  nav-link" [routerLink]="['/view', { type: 'all' }]" (click)="isCollapsed = true">EXPIRE</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" (click)="isCollapsed = true">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/view', { type: 'all' }]" (click)="isCollapsed = true">All Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/view',  { type: 'bakery' }]" (click)="isCollapsed = true">Bakery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/view',  { type: 'catering' }]" (click)="isCollapsed = true">Catering</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/view',  { type: 'fruits & veg' }]" (click)="isCollapsed = true">Fruits & Veg</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/view',  { type: 'others' }]" (click)="isCollapsed = true">Others</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/addproduct']" (click)="isCollapsed = true">Add Product</a>
        </li>

      </ul>
      <div *ngIf="expiredProducts.length > 0" class="notification">
        <a href="#" class="notification-icon">
          <i class=" bi-bell "></i>
          <span class="badge bg-danger">{{ expiredProducts.length }}</span>
          </a>
          
        <small>product(s) expired</small>
      </div>
    </div>
  </div>
</nav>
