<!-- product-form.component.html -->
<div *ngIf="message" class="alert alert-danger">{{ message }}</div>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()"  class="mx-auto back" style="width: 50%;"        >
  <h2>Add a new Product</h2>
    <div class="form-group">
      <label for="productType">Product Type:</label>
      <select class="form-control" id="productType" formControlName="types" required>
        <option value="">Select Product Type</option>
        <option value="catering">Catering</option>
        <option value="bakery">Bakery</option>
        <option value="fruits & veg">Fruits & Veg</option>
      </select>
    </div>
    <div class="form-group">
      <label for="productName">Product Name:</label>
      <input type="text" class="form-control" id="productName" formControlName="productname" required>
    </div>
    <div class="form-group">
      <label for="startDate">Start Date:</label>
      <input type="datetime-local" class="form-control" id="startDate" formControlName="packedDate" required>
    </div>
    <div class="form-group">
      <label for="endDate">End Date:</label>
      <input type="datetime-local" class="form-control" id="endDate" formControlName="expdate" required>
    </div>
    <br> <br>
    <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Submit</button>
  </form>
  