
button {
    margin-left: 10px;
}


.card{
    -webkit-box-shadow: 1px 18px 115px -81px rgba(0,0,0,1);
    -moz-box-shadow: 1px 18px 115px -81px rgba(0,0,0,1);
    box-shadow: 1px 18px 115px -81px rgba(0,0,0,1);
}

button{
    -webkit-box-shadow: 1px 18px 115px -81px rgba(0,0,0,1);
-moz-box-shadow: 1px 18px 115px -81px rgba(0,0,0,1);
box-shadow: 1px 18px 115px -81px rgba(0,0,0,1);
}


.expired-message {
    color: red;
    font-weight: bold;
  }

  .blur{
    /* From https://css.glass */

/* From https://css.glass */
background: rgba(255, 255, 255, 0.36);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.1px);
-webkit-backdrop-filter: blur(8.1px);
border: 1px solid rgba(255, 255, 255, 0.97);

  }
  .expired {
    background-color: red;
  }
  .center{
    text-align: center;
  }
.blurs{
    -webkit-box-shadow: 1px 18px 115px -81px rgba(0,0,0,1);
-moz-box-shadow: 1px 18px 115px -81px rgba(0,0,0,1);
box-shadow: 1px 18px 115px -81px rgba(0,0,0,1);
}

  .card-animation {
    animation: fadeIn 0.60s ease;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  