/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('https://pixabay.com/get/gbbf9477d0440902d9377e1b09fb8e51a8cecf8a660251a96671b226fef7df3780919c3020fc5b8d445b64dd5bd2a62e0c3d1c7fc993eb080c934344116e3e49d7b2c74b22b7efeb933dd1385554c8ce0_640.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;





  }

  .back{
    color: white;
    padding: 10px;
 /* From https://css.glass */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(255, 255, 255, 0.97);
  }