<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Total number of Fruits & Veg</h5>
    <h1 class="card-text text-center">{{ totalProducts }}</h1>
    <ul>
      <li>New products: {{ newProducts }}</li>
    </ul>
    <ul>
      <li>Products expired: {{ expiredProducts }}</li>
    </ul>
    <ul>
      <li>Products about to expire: {{ productsAboutToExpire }}</li>
    </ul>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
