<!-- <div *ngIf="message" class="alert alert-danger">{{ message }}</div> -->
<br><br><br>
  <div *ngIf="message" class="alert" [ngClass]="{'alert-success': message.type === 'success', 'alert-danger': message.type === 'error'}">
          {{ message.content }}
          </div>
<div class="container ">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" >
      <div class="card  blur">
       
        <div *ngIf="expiredProducts.length > 0" class="notification">
          <a href="#" class="notification-icon">
            <i class=" bi-bell "></i>
            <span class="badge bg-danger">{{ expiredProducts.length }}</span>
            </a>
            
          <small>product(s) expired</small>
          </div>
          <!-- <a class="btn btn-primary">Views {{productType.type }}</a> -->
         
        </div>
      </div>
    </div>
 
